body {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, footer {
    background-color: #2E3741;
    color: #ffff;
    text-align: center;
    padding: 1em 0;
}

footer {
    height: 6rem;
    align-content: center;
    font-size: 1.4em;
  }

main {
    padding: 1em;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
    background: #ffff;
    border-radius: 5px;
}

div {
    margin-bottom: 1em;
}

label {
    margin-bottom: .5em;
    color: #2E3741;
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
textarea,
select {
    border: 1px solid #CCCCCC;
    padding: .5em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: .5em;
}

input[type="submit"] {
    background: #2568EF;
    color: #ffff;
    border: 0;
    padding: 1em 2em;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background: #2E3741;
}

.rating-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.rating-item {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.rating-container input[type="radio"] {
    margin-top: 5px;
}

.rating-container label {
    font-size: 1.5em;
    cursor: pointer;
}

.rating-container input[type="radio"]:checked + label {
    color: goldenrod;
}
  
.tick-box {
    margin-bottom: 20px;
  }
  
.tick-box label {
    display: inline-flex;
    margin-bottom: 1px;
  }
  
.tick-box input[type="radio"] {
    margin-right: 5px;
  }

.feature-container {
    margin-top: 30px;
    margin-bottom: 40px;
}

.optional {
    font-size: smaller;
    color: #2568EF;
}

.color-name {
    color: #2568EF;
  }

@media (max-width: 600px) {
    .rating-container {
        flex-direction: column;
        align-items: center;
    }

    .rating-item {
        margin: 10px 0;
    }

    .rating-container label {
        font-size: 1.2em;
    }
}